/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* { 
margin: 0;
padding: 0;
font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 300;
}

ul {
    list-style-type: none;
    float: right;
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-right: 2vw;
}

.header {
    position: fixed;
    display: flex;
    width: 100vw;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
    
}

h1 {
    font-size: 70px;
    font-weight: 500;
}

.resize {
    width: 170px;
    height: auto;
    float: left;
}

.main {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;


    display: flex;
    padding: 300px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: x-large;
}


.text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
}

.text > h4 {
    font-size: 2rem;
    border-bottom: 4px solid white;
    width: fit-content;
    font-weight: 400;
}

.img {
    height: 56vh;
    padding-left: 17rem;
}

.icons {
    width: 8vw ;
}

.middle {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    text-align: center;
    padding: 4rem;
    margin-left: 6rem;

}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    font-size: large;
    padding: 5rem;
}

section > h2 {
    border-bottom: 3px solid #19b26b;
    font-weight: 500;
}

h3 {
    color: #19b26b;
    font-weight: 500;
}

.green {
background-color: #19b26b;
display: flex;
color: white;
font-size: large;
align-items: center;
padding: 2rem;
gap: 20px;
}

.white-icon {
    width: 100px;
    padding-left: 1.5rem;
}

.positioning {
   padding: 5rem;
}

.subheadings {
    font-weight: 500;
    font-size: larger;
}